/* Home.css */




.top-table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 20px; 
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px; 
  overflow: hidden; 
}


.top-table thead {
  background-color: #343a40; 
  color: #ffffff; 
}


.top-table th, .top-table td {
  padding: 12px; 
  text-align: left; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.top-table tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3); 
}

.top-table td {
  color: #ffffff; 
}
  
  
  