.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center; 
    align-items: center; 
    backdrop-filter: blur(5px); 
    z-index: 20;
  }
  
  .custom-modal {
    background-color: rgba(255, 255, 255, 0.078);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px; 
    width: 60vw; 
    max-width: 500px;
  }
  
  .custom-modal .form-control {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px; 
    width: 100%; 
    margin-bottom: 10px; 
  }
  
  .custom-modal .form-control:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  
  button.btn-primary {
    background-color: #6200ea;
    border: none;
    color: white;
    padding: 10px 15px; 
    cursor: pointer; 
  }
  
  button.btn-primary:hover {
    background-color: #4500b5;
  }
  
  button.btn-secondary {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 15px; 
    cursor: pointer; 
  }
  
  button.btn-secondary:hover {
    background-color: #444;
  }
  
  .custom-modal .form-control::placeholder {
    color: white;
    opacity : 1; 
  }